<!DOCTYPE html>
<html>
<head>
 <style>
body {
    font-family:'Courier New', Courier, monospace;
}
 .dot {
     height: 25px;
     width: 25px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
 }
 .R {
    background-color: red;
 }
 .G {
    background-color: green;
 }
 .Y {
    background-color: yellow;
 }
</style>
</head>
<body>
 <h2>Jumble   <a href="/wordle">Wordle</a></h2>

<form action="/jumble" method="post">
Jumbled Word: <input type="text" size="5" name="inword" value="{{ inword }}"> <input type="submit" value="Find" />
</form>
<p />
{% if outword %}
Unjumbled Word: {{ outword }}
{% endif %}
</body>
</html>