<!DOCTYPE html>
<html>
<head>
 <style>
body {
    font-family:'Courier New', Courier, monospace;
}
 .dot {
     height: 25px;
     width: 25px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
 }
 .R {
    background-color: red;
 }
 .G {
    background-color: green;
 }
 .Y {
    background-color: yellow;
 }
</style>
</head>
<body>
 <h2><a href="https://www.nytimes.com/games/wordle/index.html">{{name}}</a></h2>
 {% if not found %}
 <h3>{{ possible }} possible words. {{hints}}</h3>
 {% endif %}
 <ul>
{% for guess in guesses %}
<li><strong>{{guess[0]|upper}}</strong>
{% for r in guess[1] %}
<span class="dot {{r}}"></span>
{% endfor %}
</li>
{% endfor %}
</ul>

{% if not found %}
<form action="/wordle" method="post">
    <input type="hidden" name="guesses" value="{{cguesses}}" />
Guess #{{ guessno }}: <input type="text" size="5" name="word"> Result#{{ guessno }}: <input type="text" size="5" name="result">
<input type="submit" value="Guess" />

</form>
{% else %}
FOUND {{ dbwords[0].word }} in {{dbwords[0].score }} guesses!
<p />
<h3>Last {{ dbwords|length }} Wordles</h3>
{% for dbword in dbwords %}
{{dbword.date}} {{dbword.word}} ({{dbword.score}}) <br/>
{% endfor %}
{% endif %}
</body>
</html>